[alias]
    co = checkout
    br = branch
    ci = commit -v
    st = status -s
    visual = !gitk
    sl = stash list
    sa = stash apply
    ss = stash save
    sp = stash pop
    log-overview = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lo = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    done = "!f() { git branch | grep \"$1\" | cut -c 3- | grep -v done | xargs -I{} git git branch -m {} done-{}; }; f"
    # undo from here http://megakemp.com/2016/08/25/git-undo/
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
[branch]
    autoSetupRebase = local
    autoSetupMerge = always
[core]
	autocrlf = input
	editor = 'C:\\Program Files\\Sublime Text 3\\subl.exe' -w
[color]
    ui = auto
[winUpdater]
	recentlySeenVersion = 2.22.0.windows.1
[diff]
    submodule = log
[status]
    submodulesummary = 1
[grep]
    lineNumber = true
[log]
    decorate = auto
[push]
    default = simple
[rebase]
    autoStash = true
[stash]
    showPatch = true
[user]
    name = MACHIZAUD Andréa
    email = andrea.machizaud@gmail.com
[credential]
	helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
