# Ignore everything ...
*

# ... Except this project configuration
!dotfiles.sublime-project

# ... Except Application configuration
!.config/

# ... Except Git configuration
!.gitconfig
!.gitignore
!.gitattributes

# ... Except Clang configuration
!.clang-format

# ... Except Zsh configuration
!.zshrc
