[alias]
    co = checkout
    br = branch
    ci = commit -v
    st = status -s
    visual = !gitk
    sl = stash list
    sa = stash apply
    ss = stash save
    sp = stash pop
    log-overview = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lo = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    done = "!f() { git branch | grep \"$1\" | cut -c 3- | grep -v done | xargs -I{} git git branch -m {} done-{}; }; f"
    # undo from here http://megakemp.com/2016/08/25/git-undo/
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
[branch]
    autoSetupRebase = local
    autoSetupMerge = always
[core]
	autocrlf = true
	editor = 'C:\\Program Files\\Sublime Text\\subl.exe' -n -w
[color]
    ui = auto
[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[diff]
    submodule = log
[status]
    submodulesummary = 1
[grep]
    lineNumber = true
[log]
    decorate = auto
[push]
    default = simple
[pull]
	ff = only
[merge]
    ff = only
	tool = smerge
[rebase]
    autoStash = true
[stash]
    showPatch = true
[credential]
	helper = manager
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[clangFormat]
	binary = C:\\Program Files\\Microsoft Visual Studio\\2022\\Community\\VC\\Tools\\Llvm\\x64\\bin\\clang-format.exe
[credential "helperselector"]
    selected = manager-core
[includeIf "gitdir:devel/personal/"]
    path = .gitconfig.personal

; include only if a remote with the given URL exists (note
; that such a URL may be provided later in a file or in a
; file read after this file is read, as seen in this example)
# [includeIf "hasconfig:remote.*.url:https://example.com/**"]
#     path = foo.inc
# [remote "origin"]
#     url = https://example.com/git
